<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    
    <!-- Pages -->
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="navbar-brand active" aria-current="page" href="#">Logo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kanban</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

    <!-- Search button -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <form class="d-flex" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn" type="submit">Search</button>
        </form>
      </li>
    </ul>

  </div>
</nav>