<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="col-2 text-center">
        <button class="btn" (click)="toggleSidebar()">
            <i class="bi bi-list fs-4"></i>
        </button>
    </div>


    <div class="container col ms-0">

        <!-- Pages -->
        <ul class="navbar-nav row">
            <li class="nav-item col-4">
                <a class="navbar-brand active" aria-current="page" href="#">Logo</a>
            </li>
            <li class="nav-item col-4">
                <a class="nav-link" href="kanban">Kanban</a>
            </li>
            <li class="nav-item col-4">
                <a class="nav-link" href="ticket">Tickets</a>
            </li>
        </ul>

        <!-- Search button -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <form class="d-flex" role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <section *ngIf="this.sidebar" class="col-2 sidebar-center border bg-body-tertiary">
            <nav class="mt-2 navbar navbar-nav" data-bs-spy="scroll">
                <a href="" class="d-block nav-link sidebar-anchor">Profile</a>
                <a href="" class="d-block nav-link sidebar-anchor">Create Project</a>
                <a href="" class="d-block nav-link sidebar-anchor">Create Ticket</a>
                <a href="" class="d-block nav-link sidebar-anchor">Dashboard</a>
                <a href="" class="d-block nav-link sidebar-anchor">Teams</a>
                <a href="" class="d-block nav-link sidebar-anchor">About</a>
                <a href="" class="d-block nav-link sidebar-anchor">Config</a>
            </nav>
        </section>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>