<div class="container">
    <div class="row justify-content-center">
        <div class="mt-3">
            <h1 class="text-center">{{ user.name }}</h1>
        </div>
        <div class="mt-3">
            <h3 class="col-4"> Tickets </h3>
        </div>
        <div class="mt-3 d-flex">
            @for (ticket of ticketList; track ticket.id) {
            <div class="col me-3 border">
                <p class="ps-1"> {{ ticket.id }} </p>
                <div class="ps-3">
                    <h5 class="text-center">
                        <a [routerLink]="['/ticket-details', ticket.id]">
                            {{ ticket.title | normalizeStringIfExceeded: titleLimit }}
                        </a>
                    </h5>
                    <p class="my-3"> {{ ticket.description | normalizeStringIfExceeded: descriptionLimit }} </p>
                    <p class="text-center"> {{ ticket.status }} </p>
                </div>
            </div>
            }
        </div>
    </div>
</div>