<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-floating">
        <div class="row ">
            <div class="">
                <h3 class="mt-3">Create ticket</h3>
            </div>

            <div class="col-5">
                <div class="mt-3">
                    <label class="form-label">Title</label>

                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': title?.invalid && (title?.dirty || title?.touched)}"
                        formControlName="title" required>

                    <ng-container *ngIf="title?.invalid && (title?.dirty || title?.touched)">
                        <ng-container *ngIf="title?.hasError('required')">
                            <div class="invalid-feedback">
                                Name is required.
                            </div>
                        </ng-container>
                        <ng-container *ngIf="title?.hasError('minlength')">
                            <div class="invalid-feedback">
                                Name must be at least 4 characters long.
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                
                <div class="mt-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description">
                </textarea>
                </div>
                <fieldset disabled formGroupName="createdBy">
                    <div class="mt-3">
                        <label for="disabledTextInput" class="form-label">Created By</label>
                        <input type="text" class="form-control" placeholder="Disabled input" formControlName="name">
                    </div>
                </fieldset>
                <fieldset disabled>
                    <div class="mt-3">
                        <label for="disabledTextInput" class="form-label">Created In</label>
                        <input type="text" class="form-control" [placeholder]=formattedDate>
                    </div>
                </fieldset>
                <div class="mt-3">
                    <label class="form-label">Child Tickets Id</label>
                    <input type="text" class="form-control" formControlName="childTicketsId">
                </div>
            </div>

            <div>
                <div class="col-5 d-flex justify-content-between">
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary" name="submit">Create</button>
                    </div>
                    <div class="mt-3 me-3">
                        <button type="" class="btn btn-outline-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>