<section class="container-fluid">

    <!--Add Col-->
    <div class="mt-1 dropdown d-flex justify-content-end">
        <button class="dropdown-toggle btn-outline-primary" data-bs-toggle="dropdown">
            Add column
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let status of statusEnums">
                <button (click)="addColumn(status)">{{ status }}</button>
            </li>
        </ul>
    </div>

    <!--Remove Col-->
    <div class="d-flex justify-content-end">
        <div class="dropdown ">
            <button class="dropdown-toggle btn-outline-primary" data-bs-toggle="dropdown">
                Remove column
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item" *ngFor="let status of statusEnums">
                    <button (click)="removeColumn(status)">{{ status }}</button>
                </li>
            </ul>
        </div>
    </div>

    <!--Col content-->
    <div class="row">
        <div class="col mt-3 me-1 border border-2" *ngFor="let status of statusList">
            <div class="d-flex justify-content-between">
                <button class="btn" (click)="moveCol('left', status)">
                    <i class="bi bi-arrow-left-circle-fill text-light"></i>
                </button>
                <h6 class="mt-2">{{ status }}</h6>
                <button class="btn" (click)="moveCol('right', status)">
                    <i class="bi bi-arrow-right-circle-fill text-light"></i>
                </button>
            </div>
            <div class="mt-3" *ngFor="let ticket of ticketList">
                <ng-container class="mt-5" *ngIf="ticket.status == status">
                    <div class="border border-secondary rounded">
                        <p class="ms-1">{{ ticket.id }}</p>
                        <p class="text-center">
                            <a [routerLink]="['/ticket-details', ticket.id]">
                                {{ ticket.title }}
                            </a>
                        </p>
                        <p class="text-center">{{ ticket.description }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>