<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rem.</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rem.</p>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rem.</p>
            </div>
        </div>
    </div>
</section>