<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="mt-5 text-center">
                    <h1> Title </h1>
                    <div class="row justify-content-center">
                        <p class="col-6 mt-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim labore
                            incidunt ad! Labore itaque ratione, suscipit sapiente esse, quam molestias doloremque fugiat
                            illum autem eos neque laboriosam maxime facilis iure! Quod cumque voluptates sapiente nam?
                            Quaerat, itaque! Blanditiis, modi repellendus, illo dolorum ea non doloribus consequatur
                            magni dicta, ullam aut. </p>
                    </div>

                    <div class="row justify-content-center">
                        <p class="col-4 mt-2"> (ID) Child ticket 1 </p>
                        <a href="kanban" class="col-4 mt-2"> Link </a>
                        <span class="col-4">
                            <button class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash "></i>
                            </button>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-4 mt-2"> (ID) Child ticket 2 </p>
                        <a href="kanban" class="col-4 mt-2"> Link </a>
                        <span class="col-4">
                            <button class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash "></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="mt-3 d-flex">
                    <h4 class="mb-3"> Status: </h4> 
                    <span class="ms-5 flex-sm-row ">
                        <button class="btn btn-sm btn-light"> Something </button>
                    </span>
                </div>
                <div class="mt-3 d-flex">
                    <h4 class="mb-3"> Created By: </h4>
                    <p class="ms-5"> Someone </p>
                </div>
                <div class="mt-3 d-flex">
                    <h4 class="mb-3"> Created In: </h4>
                    <p class="ms-5"> Sometime </p>
                </div>
            </div>
        </div>
    </div>
</section>