<section>
    <div class="container">
        <div class="row">
            @for(ticket of tickets; track ticket.id) {
            <div class="border mt-3 me-3 col-3 d-flex flex-column">
                <p>{{ ticket.id }}</p>
                <h3 class="text-center vertical-alignment">
                    <a [routerLink]="['/ticket-details', ticket.id]">
                        {{ ticket.title | normalizeStringIfExceeded: titleLimit }}
                    </a>
                </h3>

                <p class="mt-3 mb-5 align-content-center">
                    {{ ticket.description | normalizeStringIfExceeded: descriptionLimit }}
                </p>
                <p class="mt-auto text-center"> {{ ticket.status }} </p>
            </div>
            }
        </div>>
    </div>
</section>