<section>
    <div class="container">
        <div class="row">
            <div class="border mt-3 me-3 col-3" *ngFor="let ticket of ticketList">
                <p>{{ ticket.id }}</p>
                <h3 class="text-center">
                    <a [routerLink]="['/ticket-details', ticket.id]">
                        {{ ticket.title }}
                    </a>
                </h3>
                <p class="mt-3"> {{ ticket.description.substring(0, descriptionLimit ) }} </p>
                <p class="mt-3"> {{ ticket.createdIn | date:'dd/MM/yyyy hh:mm:ss z' }} </p>
            </div>
        </div>
    </div>
</section>