<section>
    <div class="container">
        <div class="row">
            @for(ticket of ticketList; track ticket.id) {
            <div class="border mt-3 me-3 col-3 d-flex flex-column">
                <p>{{ ticket.id }}</p>
                <h3 class="text-center ">
                    <a [routerLink]="['/ticket-details', ticket.id]">
                        @if (ticket.title.length > titleLimit) {
                        {{ ticket.title.substring(0, titleLimit) }}...
                        } @else {
                        {{ ticket.title }}
                        }
                    </a>
                </h3>

                <p class="mt-3 align-content-center">
                    @if (ticket.description.length > descriptionLimit) {
                    {{ ticket.description.substring(0, descriptionLimit ) }}...
                    } @else {
                    {{ ticket.description }}
                    }
                </p>
                <p class="mt-auto"> {{ ticket.createdIn | date:'dd/MM/yyyy hh:mm:ss z' }} </p>
            </div>
            }
        </div>>
    </div>
</section>